body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1,
ul,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.header-bg {
  background: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: green;
  display: inline-block;
  padding: 24px;
  font-size: 20px;
  background: #001111;
  border-radius: 4px;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

.introducao-bg {
  background: #000;
  color: #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao h1 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 72px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 120px;
}

.introducao p {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 36px;
}
